body {
    background-color:rgb(195,203,110)
}

h1 {
    font-family: Helvetica;
    color: #000000;
    font-size: 100px;
    animation-name: cambioFuente;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    text-align: center;
}

p{
    font-family:Arial;
    font-size: 30px;
    color: #000000;
    text-align: center;
}

.foto {
  width: 50%;
  height: 50%;
}

a{
    display: flex;
    flex-direction: column;
    font-family:Arial;
    font-size: 40px;
    color: rgb(228,230,168);
    text-align:center;
}

@keyframes cambioFuente{
    0% {font-family:Arial}
    50%{font-family:Times}
    100%{font-family:sans-serif}
}
