body {
    background-color:rgb(195,203,110)
}

h1 {
    font-family: Helvetica;
    color: #000000;
    font-size: 100px;
    animation-name: cambioFuente;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    text-align: center;
}

p{
    font-family:Arial;
    font-size: 30px;
    color: #000000;
    text-align: center;
}

.foto {
  width: 50%;
  height: 50%;
}

p1{
    display: flex;
    flex-direction: column;
    font-family:Arial;
    font-size: 30px;
    color: #000000;
    text-align:center;
}

a{
    display: flex;
    flex-direction: column;
    font-family:Arial;
    font-size: 40px;
    color: rgb(228,230,168);
    text-align:center;
}
@keyframes cambioFuente{
    0% {font-family:Arial}
    50%{font-family:Times}
    100%{font-family:sans-serif}
}

@media (max-width: 1000px) {
    #img1{
        height: 500vw;
        width: 392vw;
    }
    p{
        height:50vw;
        width:400vw;
    }
    p1{
        height:auto;
        weight:auto;
    }
    h1{
        font-size-adjust:25vw;
    }
}